@import "tailwindcss";

@layer base {
  body {
    font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    background-color: #050505;
    color: #d1d5db;
  }
}

/* Custom technical micro-scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
